.cardContainer {
  display: flex;
  max-width: 100vh;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 10%;
}

.listCard {
  display: grid;
  grid-template-columns: 0.25fr 1.5fr 1fr 0.75fr 30px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d5db;
}

.listCard .addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.listCard .btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.completed .date {
  grid-column: 4/6;
}
